<div class="body" *ngIf="!isLoading">
  <br>
  <button class="back" (click)="back()">back</button>
  <br>
  <div *ngIf="!freeCompany">
    <p>No free company found</p>
  </div>
  <div *ngIf="freeCompany" class="parent">
    <div class="items">
      <div class="item_1">
        <h1>{{freeCompany.FreeCompany.Name}}</h1>
        <div class="desc">
          <h3><i class="fa-solid fa-server"></i> : <span>{{freeCompany.FreeCompany.Server}}</span></h3>
          <br>
          <h3><i class="fa-solid fa-tag"></i> : <span>{{freeCompany.FreeCompany.Tag}}</span></h3>
          <br>
          <h3><i class="fa-solid fa-users"></i> : <span>{{freeCompany.FreeCompany.ActiveMemberCount}}</span></h3>
          <br>
          <h3>Active : <span>{{freeCompany.FreeCompany.Active}}</span></h3>
          <br>
          <h3>Grand Company : <span>{{freeCompany.FreeCompany.GrandCompany}}</span></h3>
          <br>
          <h3>Rank : <span>{{freeCompany.FreeCompany.Rank}}</span></h3>
          <br>
          <h3>Slogan : <span>{{freeCompany.FreeCompany.Slogan}}</span></h3>
          <br>
          <h3>Ranking in {{freeCompany.FreeCompany.Server}} : Month: {{freeCompany.FreeCompany.Ranking.Monthly}} - Week: {{freeCompany.FreeCompany.Ranking.Weekly}}</h3>
        </div>
        <h3>Seeking: </h3>
        <div class="seeking">
          <span *ngFor="let seeking of freeCompany.FreeCompany.Seeking"><img [src]="seeking.Icon" alt="" *ngIf="seeking.Status"></span>
        </div>
      </div>
      <div class="item_2">
        <table>
          <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th>Rank</th>
          </tr>
          <tr *ngFor="let member of freeCompany.FreeCompanyMembers">
            <td><img [src]="member.Avatar" alt=""></td>
            <td>{{member.Name}}</td>
            <td><img [src]="member.RankIcon" alt=""> {{member.Rank}}</td>
            <td><button routerLinkActive="router-link-active" (click)="getCharacterById(member.ID)">Details</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="body">
  <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="assets/images/mog.gif" alt="">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
