.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: #00000080;
}
.items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    table{
      padding: 1em;
      margin: 1em;
      border: 1px solid #ffffff;
      border-radius: 5px;
      background-color: #00000080;
      color: #ffffff;
      font-size: 1em;
      width: 100%;
      tr{
        border: 1px solid #ffffff;
        border-radius: 5px;
        background-color: #00000080;
        color: #ffffff;
        font-size: 1em;
        td{
          background-color: #00000080;
          color: #ffffff;
          font-size: 1em;
          padding: 0.5em;
          text-align: center;
          button{
            color: #ffffff;
            text-decoration: none;
            border: solid 1px #ffffff;
            border-radius: 5px;
            padding: 0.2em 0.5em;
            transition: all 0.3s ease-in-out;
            background-color: #00000000;
            cursor: pointer;
            &:hover{
              transition: all 0.3s ease-in-out;
              color: #ff0000;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}


