<h3>Search Character</h3>
<p>Search for a character by name and server, and click on "details" of character to view more details.</p>
<p>Zodiark is server by default but you can change it to any other server or choose "any" to search on all servers.</p>
<span>There is currently no way to change the amount of results back returned. It will always be 50 per page with a maximum of 20 pages. This is due to how Lodestone works.</span>
<br>
<h3>Details Character</h3>
<p>Display the details of a character. This includes the job, gear, stats, minions, mounts and<br>
  free company (click on the name to view the free company)</p>
<br>
