<div class="body" *ngIf="!detail">
  <br>
  <div class="title">
    <h2>Search Character</h2>
  </div>
  <div class="form">
    <div>
      <label for="">server</label>
      <select [(ngModel)]="server">
        <option></option>
        <optgroup *ngFor="let groupe of groupes" [label]="groupe.nom">
          <option *ngFor="let option of groupe.options">{{option}}</option>
        </optgroup>
      </select>
    </div>
    <div class="input">
      <label for="">Name</label>
      <input type="text" id="name" [(ngModel)]="name" placeholder="Character Name">
    </div>
    <button (click)="search()" (click)="cpt=1">Search</button>
  </div>
  <br>
  <div *ngIf="isLoading">
    <br>
    <br>
    <br>
    <img src="/assets/images/mog.gif" alt="">
    <br>
    <br>
    <br>
  </div>
  <div class="table" *ngIf="cpt>=1 && characters.Results && !isLoading">
    <div class="btn" *ngIf="cpt>1 || (cpt>=1&& characters.Pagination.PageNext > cpt)">
      <button (click)="previousPage()" [disabled]="!characters.Pagination.PagePrev" class="first-child">Previous</button>
      <div *ngFor="let page of numberPage" class="page">
        <button (click)="changePage(page)" [ngClass]="{'active': page == cpt}">{{page}}</button>
      </div>
      <button (click)="nextPage()" [disabled]="!characters.Pagination.PageNext" class="last-child">Next</button>
    </div>
    <br>
    <table>
      <thead>
        <tr>
          <th>Avatar</th>
          <th>Name</th>
          <th>Server</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of characters.Results">
          <td><img [src]="character.Avatar" alt=""></td>
          <td>{{character.Name}}</td>
          <td>{{character.Server}}</td>
          <td><button routerLinkActive="router-link-active" (click)="getCharacterById(character.ID)">Details</button></td>
        </tr>
      </tbody>
    </table>
    <div class="btn" *ngIf="cpt>1 || (cpt>=1&& characters.Pagination.PageNext > cpt)">
      <button (click)="previousPage()" [disabled]="!characters.Pagination.PagePrev" class="first-child">Previous</button>
      <div *ngFor="let page of numberPage" class="page">
        <button (click)="changePage(page)" [ngClass]="{'active': page == cpt}">{{page}}</button>
      </div>
      <button (click)="nextPage()" [disabled]="!characters.Pagination.PageNext" class="last-child">Next</button>
    </div>
  </div>
  <div *ngIf="!characters.Results">
    <p>No character found</p>
  </div>
</div>
<div *ngIf="detail" class="child">
  <br>
  <div *ngIf="!isLoading">
    <div class="backin">
      <button (click)="back()" class="back">Back</button>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="isLoading">
    <br>
    <br>
    <br>
    <img src="/assets/images/mog.gif" alt="">
    <br>
    <br>
    <br>
  </div>
</div>
