<h3>
  Search Free Company
</h3>
<p>
  Search for a company by name and server, and click on "details" of company to view more details.<br>
  Zodiark is server by default but you can change it to any other server or choose "any" to search on all servers.
</p>
<span>
  logo is not available for now due to how Lodestone works.
</span>
<br>
<h3>
  Details Free Company
</h3>
<p>
  Display the details of a company. This includes the members, crest, slogan, active and recruitment status.
  click on button "Details" to view more details of a member.
</p>
<br>
