<div class="extern-link">
  <h1>Extern Link</h1>
  <div class="item">
    <a href="https://xivapi.com" target="_blank">XIVAPI</a>
    <p class="description">A community driven open source API for Final Fantasy XIV.</p>

  </div>
  <div class="item">
    <a href="https://eu.finalfantasyxiv.com/lodestone/" target="_blank">Lodestone</a>
    <p class="description">The official website for Final Fantasy XIV.</p>

  </div>
  <div class="item">
    <a href="https://www.xivmodarchive.com/" target="_blank">XIV Mod Archive</a>
    <p class="description">A community driven open source modding site for Final Fantasy XIV.</p>
  </div>
  <div class="item">
    <a href="https://ffxiv.consolegameswiki.com/wiki/Main_Page" target="_blank">FFXIV Console Games Wiki</a>
    <p class="description">A community driven open source wiki for Final Fantasy XIV.</p>
  </div>
  <div class="item">
    <a href="https://garlandtools.org/" target="_blank">Garland Tools</a>
    <p class="description">FFXIV tools & resources</p>
  </div>
  <div class="item">
    <a href="https://ffxivteamcraft.com/" target="_blank">Teamcraft</a>
    <p class="description">A tool for crafting in Final Fantasy XIV.</p>
  </div>
  <div class="item">
    <a href="https://ffxiv.eorzeacollection.com/" target="_blank">Eorzea Collection</a>
    <p class="description">Eorzea Collection is where you can share your personal glamours and browse through an extensive collection of looks for your Final Fantasy XIV character.</p>
  </div>
  <div class="item">
    <a href="https://ffxivcollect.com/" target="_blank">FFXIV Collect</a>
    <p class="description">FFXIV Collect is a Database and Community for Final Fantasy XIV: A Realm Reborn and its expansions including Heavensward, Stormblood and Shadowbringers.</p>
</div>
