.body{
  background-color: #00000080;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-bottom: 5em;
  .title{
    font-size: 1.5em;
    color: #ffffff;
    margin: 0;
    padding: 0;
  }
  .form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 38%;
    height: 100%;
    margin: 0;
    padding: 0;
    label{
      font-size: 1.2em;
    }
    input{
      margin: 0;
      padding: 0;
      color: #ffffff;
      background-color: #303030;
      text-decoration: none;
      font-size: 1.2em;
      padding: 0.2em 0.5em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      border: solid 1px #ffffff;
      border-radius: 5px;
      cursor: pointer;
      &:hover{
        transition: all 0.3s ease-in-out;
        background-color: #000000;
        color: #ffdc6b;
        text-decoration: none;
    }

  }
  select{
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #303030;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.2em 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    border: solid 1px #ffffff;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
      transition: all 0.3s ease-in-out;
      background-color: #000000;
      text-decoration: none;
  }
}

    button{
        margin: 0;
        padding: 5px;
        color: #ffffff;
        background-color: #303030;
        text-decoration: none;
        font-size: 1.2em;
        align-items: center;
        justify-content: center;
        transition: all 0.3s linear;
        border: solid 1px #ffffff;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
          transition: all 0.3s ease-in-out;
          background-color: #414141;
          color: #eeff00;
          text-decoration: none;
        }}}
}
.table{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  .btn{
    margin: 1em;
    padding: 5em;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.2em 0.5em;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    &:hover{
      transition: all 0.3s ease-in-out;
      text-decoration: none;
    }
    .first-child{
      margin-right: 5px;
    }
    .page{
      margin: 5px;
      padding: 0;
      margin: 0 auto;
    }
    .last-child{
      margin-left: 5px;
    }
    .page{
      margin: 5px;
      padding: 0;
      text-decoration: none;
      font-size: 0.8em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      border: none;
      &:hover{
        transition: all 0.3s ease-in-out;
        background-color: #000000;
        color: #ffdc6b;
        text-decoration: none;
      }
      .active{
        transition: all 0.3s ease-in-out;
        background-color: #000000;
        color: #ffdc6b;
        text-decoration: none;
      }
    }
    button{
      margin: 0, 5em;
      padding: 0;
      color: #ffffff;
      background-color: #303030;
      text-decoration: none;
      font-size: 1.2em;
      padding: 0.2em 0.5em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      border: solid 1px #ffffff;
      border-radius: 5px;
      cursor: pointer;
      &:hover{
        transition: all 0.3s ease-in-out;
        background-color: #000000;
        color: #ffdc6b;
        text-decoration: none;
      }
      &:disabled{
        transition: all 0.3s ease-in-out;
        background-color: #a5a5a5;
        color: #ffffff;
        text-decoration: none;
        cursor: not-allowed;
      }
    }
    }
}
.back{
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #303030;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0.2em 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  border: solid 1px #ffffff;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    transition: all 0.3s ease-in-out;
    background-color: #000000;
    color: #ffdc6b;
    text-decoration: none;
  }
}
.loading{
  margin: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


