<div class="body">
  <div>
    <h1>Search</h1>
    <input type="text" [(ngModel)]="name" (keyup.enter)="search()">
    <button (click)="search()">Search</button>
  </div>
  <div *ngIf="isLoading">
    <br>
    <br>
    <br>
    <img src="/assets/images/mog.gif" alt="">
    <br>
    <br>
    <br>
  </div>
  <div class="table" *ngIf="!isLoading">
    <div class="btn" *ngIf="items.Pagination.PagePrev">
      <button (click)="prevPage()" [disabled]="!items.Pagination.PagePrev" class="first-child">Previous</button>
      <div *ngFor="let pages of nbrOfPages" class="page">
        <button (click)="goToPage(pages)" [ngClass]="{'active': pages == page}">{{pages}}</button>
      </div>
      <button (click)="nextPage()" [disabled]="!items.Pagination.PageNext" class="last-child">Next</button>
    </div>
    <br>
    <table>
      <thead>
        <tr>
          <th>Icon</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let character of items.Results">
          <td><img [src]="'https://xivapi.com/'+character.Icon" alt=""></td>
          <td>{{character.Name}}</td>
          <td><button routerLinkActive="router-link-active" (click)="viewItem(character.ID)">Details</button></td>
        </tr>
      </tbody>
    </table>
    <div class="btn" *ngIf="items.Pagination.PageNext">
      <button (click)="prevPage()" [disabled]="!items.Pagination.PagePrev" class="first-child">Previous</button>
      <div *ngFor="let pages of nbrOfPages" class="page">
        <button (click)="goToPage(pages)" [ngClass]="{'active': pages == page}">{{pages}}</button>
      </div>
      <button (click)="nextPage()" [disabled]="!items.Pagination.PageNext" class="last-child">Next</button>
    </div>
  </div>
  <div *ngIf="!items.Results">
    <p>No item found</p>
  </div>
</div>
