<div class="body" *ngIf="!isLoading && !errorMessage && character">
  <br>
  <button class="back" (click)="back()">back</button>
  <br>
  <div *ngIf="!character">
    <p>No character found</p>
  </div>
  <div class="menu">
      <button [ngClass]="{'active': !gear && !minion && !mount}" (click)="viewCharacter()">Character</button>
      <button [ngClass]="{'active': gear}" (click)="viewGear()">Gear</button>
      <button [ngClass]="{'active': minion}" (click)="viewMinions()">Minions</button>
      <button [ngClass]="{'active': mount}" (click)="viewMounts()">Mounts</button>
  </div>
  <div *ngIf="character" class="parent">
    <div class="items" *ngIf="gear">
      <app-gear [gear]="character.Character.GearSet"></app-gear>
    </div>
    <div class="items_minion" *ngIf="minion">
      <app-minion [minions]="character.Minions"></app-minion>
    </div>
    <div class="items_mount" *ngIf="mount">
      <app-mount [mounts]="character.Mounts"></app-mount>
    </div>
    <div class="items" *ngIf="!gear && !minion && !mount">
      <div class="item">
        <h1>{{character.Character.Name}}</h1>
        <h2>Server: {{character.Character.Server}}</h2>
        <div class="fc" *ngIf="character.Character.FreeCompanyName">
          <h3>FC: </h3>
          <a (click)="viewFreeCompany(character.Character.FreeCompanyId)">{{character.Character.FreeCompanyName}}</a>
          <i class="fa-solid fa-link"></i>
        </div>
        <h3>Gender: {{gender}}</h3>
      </div>
      <div class="item">
        <h3>Class / Job: {{character.Character.ActiveClassJob.Name}}</h3>
        <h3>Level: {{character.Character.ActiveClassJob.Level}}</h3>
        <h3>Exp: {{character.Character.ActiveClassJob.ExpLevel}}/{{character.Character.ActiveClassJob.ExpLevelMax}}</h3>
      </div>
    </div>
    <div class="item-image">
      <img [src]="character.Character.Portrait" alt="" width="438" height="598">
    </div>
  </div>
</div>
<div *ngIf="isLoading" class="body">
  <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="/assets/images/mog.gif">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
<div *ngIf="errorMessage">
  <h1>{{errorMessage}}</h1>
</div>
